
name: Xpu-Build-And-Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  xpu-build-and-test:
    runs-on: xpu
    if: ${{ github.repository == 'FlagTree/flagtree' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: FlagTree Build on Xpu
        shell: bash
        run: |
          source ~/env.sh
          export FLAGTREE_BACKEND=xpu
          cd python
          MAX_JOBS=32 pip3 install . --no-build-isolation

      - name: FlagTree Test on Xpu
        shell: bash
        run: |
          python3 -m pytest -s third_party/xpu/python/test/unit
