name: NV-Build-And-Test

on:
  schedule:
    - cron: '0 21 * * *'
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  nv-build-and-test:
    runs-on: nv-jiuding
    if: ${{ github.repository == 'FlagTree/flagtree' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: FlagTree Build
        shell: bash
        run: |
          source ~/env.sh
          cd python
          MAX_JOBS=32 pip3.11 install . --no-build-isolation

      - name: FlagTree Test
        shell: bash
        run: |
          pytest -s python/test/unit
          pytest -s python/test/operators
